.container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        max-width: 972px;
        width: 100%;
        height: 50%;
        max-height: 816.201px;
        opacity: 0.35;
        content: '';
        border-radius: 1161px;
        background-image: -webkit-linear-gradient(294deg, #27B1DD 0%, #DD57FF 100%);
        background-image: -moz-linear-gradient(294deg, #27B1DD 0%, #DD57FF 100%);
        background-image: -o-linear-gradient(294deg, #27B1DD 0%, #DD57FF 100%);
        filter: blur(486px);
        transform: translate3d(0, 0, 0);
    }

    .knowUs {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        flex-direction: column;
    }

    h1 {
        max-width: 720px;
        width: 100%;
        text-align: left;
        color: var(--third-color);
        font-family: Krona One;
        font-size: 90px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    h2 {
        width: 100%;
        max-width: 720px;
        color: var(--our-mission);
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        /* 125% */
        text-transform: uppercase;
        text-align: left;
    }

    h3 {
        width: 100%;
        max-width: 720px;
        color: var(--about-h3);
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        text-align: left;
    }

    p {
        color: var(--about-p);
        /* Desktop/Text */
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
    }


}

.smartest {
    max-width: 1440px;
    display: grid;
    flex-direction: row;
    column-gap: 25px;
    grid-template-columns: 1fr minmax(300px, 900px) 1fr;
    align-items: center;

    .Lline {
        height: 3px;
        flex: 1 0 0;
        background: linear-gradient(270deg, #C4BBDF 0%, rgba(196, 187, 223, 0.00) 100%);
    }

    .Rline {
        height: 3px;
        flex: 1 0 0;
        background: linear-gradient(270deg, rgba(196, 187, 223, 0.00) 0%, #C4BBDF 100%);
    }

    h1 {
        color: var(--about-smartest);
        text-align: center;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
    }
}

@media (max-width: 800px) {
    .container {
        gap: 35px;
        h1 {
            font-family: Krona One;
            font-size: 48px;
        }

        h2 {
            font-family: Montserrat;
            font-size: 26px;
        }

        h3 {
            font-family: Inter;
            font-size: 22px;
        }

        p {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
        }
    }

    .smartest {
        h1 {
            text-align: center;
            font-family: Montserrat;
            font-size: 20px;
        }
    }
}