.FirstContent {
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

    &::after {
        z-index: 0;
        content: "";
        position: absolute;
        top: 25%;
        left: 0;
        width: 50%;
        height: 50%;
        opacity: 0.8;
        border-radius: 135px;
        background-image: -webkit-linear-gradient(299deg, #FFF06D 0%, #63499A 100%);
        background-image: -moz-linear-gradient(299deg, #FFF06D 0%, #63499A 100%);
        background-image: -o-linear-gradient(299deg, #FFF06D 0%, #63499A 100%);
        -webkit-filter: blur(200px);
        filter: blur(200px);
        transform: translate3d(0, 0, 0);

    }
}

.ContentBlockText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 682px;
    transition: all 0.3s;
}

.ContentHeader {
    color: var(--primary-color);
    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.ContentText {
    color: var(--secondary-color);

    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.ContentImg {
    width: 100%;
    max-width: 650px;
    z-index: 4;
    flex-shrink: 0;
    .MainForm{
        width: 700px;
        position: relative;
    }

    .AutoEmail{
        position: absolute;
        bottom: -40px;
        left: -60px;
        backdrop-filter: blur(25px);
        border-radius: 18.864px;
        filter: var(--autoMail-shadow);
        
    }

    .MailForm{
        backdrop-filter: blur(10px);
    }

    .Files{
        position: absolute;
        border-radius: 18.864px;
        bottom: 90px;
        right: 20px;
        box-shadow: var(--files-shadow);
        backdrop-filter: blur(23.579545974731445px);
    }
}

.custom {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 24px;

}
.Suppliers {
    color: #F4A17C;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 6px 16px 10px 16px;
    border-radius: 999px;
    border: 2px solid #F4A17C;
}

.Factories {
    color: #AE89FB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 6px 16px 10px 16px;
    border: 2px solid #AE89FB;
    border-radius: 999px;
    
}
.Customers {
    color: #42CEEA;
    font-family: Montserrat;
    
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 6px 16px 10px 16px;
    border-radius: 999px;
    border: 2px solid #42CEEA;
}

@media (max-width: 500px) {
    .FirstContent{
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        &::after {
            z-index: 0;
            content: "";
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            height: 30%;
            opacity: 0.8;
            border-radius: 135px;
            filter: blur(200px);
    
        }
    }
    .ContentBlockText{
        margin: 0;
        width: 100%;
    }
    .ContentHeader{
        font-size: 32px;
        line-height: 114%;
    }
    .ContentText{
        font-size: 17px;
        line-height: 145%; 
    }
    .ContentImg {
        width: 100%;
        height: 280px;
        max-width: 753px;
        z-index: 4;
        flex-shrink: 0;
        .MainForm{
            width: 100%;  
            display: flex;
            justify-content: center;
            position: relative;
        }
        .Chats{
            width: 90.803px;
            height: 228.089px;
        }
        .AutoEmail{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            bottom: -40px;
            left: 0px;
            backdrop-filter: blur(25px);
            border-radius: 10.196px;
        }
        .MailForm{
            backdrop-filter: blur(10px);
            width: 219.441px;
            height: 228.629px;  
        }
        .Files{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            border-radius: 10.196px;
            bottom: 45px;
            right: 0px;
            backdrop-filter: blur(23.579545974731445px);
        }
    }
    .custom{
        font-size: 20px;
        gap: 6px;
    }
    .Suppliers,
    .Factories,
    .Customers{
        padding: 8px;
    }
}
@media (max-width: 900px) and (min-width: 500px){
    .FirstContent{
        flex-direction: column;
        justify-content: center;
        &::after {
            z-index: 0;
            content: "";
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            height: 30%;
            opacity: 0.8;
            border-radius: 135px;
            filter: blur(200px);
    
        }
    }
    .ContentBlockText{
        margin: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .ContentHeader{
        font-size: 32px;
        line-height: 114%;
    }
    .ContentText{
        font-size: 17px;
        line-height: 145%; 
    }
    .ContentImg {
        width: 100%;
        height: 250px;
        max-width: 753px;
        z-index: 4;
        flex-shrink: 0;
        .MainForm{
            width: 100%;  
            margin: 0 auto;
            max-width: 600px;
            display: flex;
            justify-content: center;
            position: relative;
        }
        .Chats{
            width: 90.803px;
            height: 228.089px;
        }
        .AutoEmail{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            bottom: -20px;
            left: 120px;
            backdrop-filter: blur(25px);
            border-radius: 10.196px;
        }
        .MailForm{
            backdrop-filter: blur(10px);
            width: 219.441px;
            height: 228.629px;  
        }
        .Files{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            border-radius: 10.196px;
            bottom: 45px;
            right: 60px;
            backdrop-filter: blur(23.579545974731445px);
        }
    }
    .custom{
        font-size: 20px;
        gap: 6px;
    }
    .Suppliers,
    .Factories,
    .Customers{
        padding: 8px;
    }
}
@media (max-width: 1023px) and (min-width: 900px) {

    .FirstContent{
        margin-top: 100px;
        min-height: 80vh;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &::after {
            z-index: 0;
            content: "";
            position: absolute;
            top: 100px;
            left: 0;
            width: 50%;
            height: 50%;
            opacity: 0.8;
            border-radius: 135px;
            filter: blur(200px);
        }
    }
    .ContentBlockText{
        margin: 0;
        width: 100%;
        max-width: 610px;
        // align-items: center;
    }
    .ContentHeader {
        font-size: 38px;
        font-weight: 500;
        line-height: 114%;
    }

    .ContentText {
        font-size: 17px;
    }
    .ContentImg {
        width: 50%;
        height: 250px;
        margin-left: -50px;
        z-index: 4;
        flex-shrink: 0;
        .MainForm{
            width: 100%;  
            max-width: 600px;
            display: flex;
            justify-content: center;
            position: relative;
        }
        .Chats{
            width: 90.803px;
            height: 228.089px;
        }
        .AutoEmail{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            bottom: -20px;
            left: 20px;
            backdrop-filter: blur(25px);
            border-radius: 10.196px;            
        }
        .MailForm{
            backdrop-filter: blur(10px);
            width: 219.441px;
            height: 228.629px;  
        }
        .Files{
            position: absolute;
            width: 134.583px;
            height: 99.451px;
            border-radius: 10.196px;
            bottom: 40px;
            right: 20px;
            backdrop-filter: blur(23.579545974731445px);
        }
    }
    
    .custom{
        font-size: 20px;
        gap: 6px;
    }
    .Suppliers,
    .Factories,
    .Customers{
        padding: 8px;
    }
}
@media (max-width: 1439px) and (min-width: 1024px){
    .FirstContent{
        gap: 50px;
    }
    .ContentHeader{
        font-size: 38px;
    }
    .ContentText{
        font-size: 17px;
    }
    .ContentImg{
        margin-left: -100px;
        scale: calc(100 / 1.5 / 100);
        max-width: 500px;
        height: auto;
        flex-shrink: 0;
    }
    .custom{
        font-size: 20px;
        gap: 13px;
    }
}
@media (max-width: 1800px) and (min-width: 1440px){
    .FirstContent{
        justify-content: space-around;
        min-height: 80vh;
    }
    .ContentHeader{
        font-size: 38px;
    }
    .ContentText{
        font-size: 17px;
    }
    .ContentImg{
        max-width: 700px;
        height: auto;
        flex-shrink: 0;
    }
    .custom{
        font-size: 20px;
        gap: 13px;
    }
}
@media (min-width: 1440px){
    .FirstContent{
        min-height: 80vh;
    }
}