.Hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 90px;
}

.HeroInformation {
    padding-top: 106px;
    z-index: 3;
    width: 514px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s;
}

.HeroText {
    width: 666px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1 {
        color: #FFF;
        font-family: Krona One;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    p {
        width: 436px;
        color: #C4BBDF;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.33px;
    }
}

.img {
    position: absolute;
    top: 356px;
    left: 0;
    z-index: 0;
    scale: 125%;
    max-width: 100%;
}

.imgM {
    display: none;
}

.Button {
    z-index: 4;
    text-decoration: none;
    border-radius: 48.016px;
    background: #FFF;
    padding: 32px 46px;
    color: #141739;
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
}
.Button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.Safari {
    z-index: 1;
    width: 100%;
    transform: translate(0, 2.5%);
    scale: 105%;
    max-width: 1524px;
    height: auto;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.Mail,
.File,
.Contact,
.Analytics,
.Calendar,
.Dollar,
.Photo,
.Chart {
    position: absolute;
    z-index: 3;
    transition: 0.3s;
}

.Contact {
    top: 220px;
    left: 0px;
}

.Mail {
    top: 100px;
    left: 0px;
}

.File {
    top: 280px;
    left: 250px;
}

.Analytics {
    top: 180px;
    left: 200px;
}

.Calendar {
    right: 0px;
    top: 240px;
}

.Dollar {
    right: 250px;
    top: 280px;
}

.Photo {
    right: 200px;
    top: 180px;
}

.Chart {
    right: 50px;
    top: 100px;
}

@media (max-width: 500px) {
    .Hero{
        height: 100vh;
        justify-content: center;
    }
    .HeroInformation {
        
        padding-top: 240px;
        width: 380px;
        align-items: center;
        gap: 20px;
        transition: 1s;
    }

    .HeroText {
        width: 100%;
        gap: 8px;

        h1 {
            color: #FFF;
            text-align: center;
            font-family: Krona One;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }

        p {
            width: 380px;
            color: #A69DBE;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 27px */
            letter-spacing: 0.27px;
        }
    }

    .Button {
        
        text-decoration: none;
        padding: 26px 38px;
        background-color: #fff;
        border-radius: 39.094px;
        color: #141739;
        font-family: Montserrat;
        font-size: 21.513px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.43px;
        text-transform: uppercase;
    }

    .Safari {
        display: none;
    }

    .imgM {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100vw;
        // height: 100vh;
        top: 0%;
        z-index: 1;
        // width: 840px;

    }

    .img {
        display: none;
    }

    .Mail,
    .File,
    .Contact,
    .Analytics,
    .Calendar,
    .Dollar,
    .Photo,
    .Chart {
        display: none;
    }
}
@media (max-width: 900px) and (min-width: 501px) {
    .Hero{
        height: 100vh;
        justify-content: center;
    }
    .HeroInformation {
        
        padding-top: 240px;
        width: 380px;
        align-items: center;
        gap: 20px;
        transition: 1s;
    }

    .HeroText {
        width: 100%;
        gap: 8px;

        h1 {
            color: #FFF;
            text-align: center;
            font-family: Krona One;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }

        p {
            width: 380px;
            color: #A69DBE;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 27px */
            letter-spacing: 0.27px;
        }
    }

    .Button {
        
        text-decoration: none;
        padding: 26px 38px;
        background-color: #fff;
        border-radius: 39.094px;
        color: #141739;
        font-family: Montserrat;
        font-size: 21.513px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.43px;
        text-transform: uppercase;
    }

    .Safari {
        display: none;
    }

    .imgM {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100vw;
        // height: 100vh;
        top: -20%;
        z-index: 1;
        // width: 840px;

    }

    .img {
        display: none;
    }

    .Mail,
    .File,
    .Contact,
    .Analytics,
    .Calendar,
    .Dollar,
    .Photo,
    .Chart {
        display: none;
    }
}
@media (max-width: 1024px) and (min-width: 900px) {
    .Hero{
        gap: 135px;
    }
    .HeroInformation {
    }
    .HeroText{
        h1{
            font-family: Krona One;
            font-size: 30.361px;
        }
        p{
            font-family: Inter;
            font-size: 15.18px;
        }
    }
    .Button{
        padding: 21.63px 31.093px;
        color: #141739;
        font-family: Montserrat;
        font-size: 17.859px;
    }
    .Contact {
        top: 262px;
        left: -60px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Mail {

        top: 120px;
        left: 0px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .File {
        top: 320px;
        left: 150px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Analytics {
        top: 200px;
        left: 130px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Calendar {
        top: 272px;
        right: -120px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Dollar {
        right: 80px;
        top: 310px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Photo {
        right: 70px;
        top: 200px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
    
    .Chart {
        right: -30px;
        top: 120px;
        svg{
            width: 75%;
            height: 75%;
        }
    }
}
@media (max-width: 1440px) and (min-width: 1025px){
    .Hero{
        gap: 70px;
    }
    .Contact {
        top: 220px;
        left: 0px;
    }
    
    .Mail {
        top: 100px;
        left: 0px;
    }
    
    .File {
        top: 280px;
        left: 250px;
    }
    
    .Analytics {
        top: 180px;
        left: 200px;
    }
    
    .Calendar {
        right: 0px;
        top: 240px;
    }
    
    .Dollar {
        right: 250px;
        top: 280px;
    }
    
    .Photo {
        right: 200px;
        top: 180px;
    }
    
    .Chart {
        right: 50px;
        top: 100px;
    }
  }