@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

html,
body {
  background: var(--bg);
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.app {
  font: var(--font-m);
  background: var(--bg);
  color: var(--primary-color);
  min-height: 100%;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: var(--header-height);
  height: 100vh;
  width: 100vw;
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.content-page {
  display: flex;
}

.page-wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  padding-left: 1em;
  padding-right: 1em;
}

.gradient {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  max-width: min-content;
  filter: blur(200px);
  opacity: 0.25;
  transform: translate3d(0, 0, 0);

}

.BgColor {
  z-index: 1;
  position: absolute;
  height: 1420px;
  left: 0;
  right: 0;
  top: 726px;
  width: 100vw;
  background: var(--card-bg-color);
  // outline: 1px solid red;
}

@media (max-width: 500px) {
  .gradient{
    display: none;
    filter: blur(0);
  }
  .BgColor{
    display: none;
  }
  .app {
    font: var(--font-s);
  }

  .page-wrapper {
    padding: 0 1em;
  }
}
@media (max-width: 1440px) and (min-width: 1025px){
  .BgColor{
    top: 700px;
  }
  .page-wrapper {
    padding-top: var(--header-height);
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media (max-width: 1024px) and (min-width: 500px){
  .BgColor{
    top: 600px;
  }
  .page-wrapper {
    padding-top: var(--header-height);
    padding-left: 3em;
    padding-right: 3em;
  }
}