.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    z-index: -1;
    font-size: var(--font-size-s);
    border-radius: 30px;
    border: 1px solid var(--header-menuBorder);
    background: var(--header-menuBg);
    backdrop-filter: blur(30px);
    position: relative;
    padding: 12px 20px;

}

.MenuLink {
    color: var(--header-menu-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.217px;
}

.DropdownContent {
    position: absolute;
    z-index: 1;
    top: 150%;
    /* Position the dropdown below the menu */
    left: -60%;
    display: none;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid var(--header-menuBorder);
    background: var(--header-dropdownContent);
    min-width: 150px;
    max-width: 925px;
}
.Open {
    display: grid;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -60%;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid var(--header-menuBorder);
    background: var(--header-dropdownContent);
    min-width: 150px;
    max-width: 925px;
}


.DropdownLink {
    color: var(--header-menu-color);
    position: relative;
    font-family: Inter;
    font-size: 18px;
    height: 68px;
    padding: 12px 20px;
    gap: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    transition: color 0.3s;
    p{
        width: 200px;
    }

}
.lines:after{
    position: absolute;
    content: '';
    left: -7.5px;
    width: 1px;
    height: 300%;
    background-image: -webkit-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    background-image: -o-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    
}
.lines:before{
    position: absolute;
    content: '';
    right: -7.5px;
    width: 1px;
    height: 300%;
    background-image: -webkit-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    background-image: -o-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(178, 178, 227, 0.00) 0%, rgba(178, 178, 227, 0.27) 47.32%, rgba(178, 178, 227, 0.00) 100%);
    
}


@media (max-width: 900px) {
    .Menu {
        position: fixed;
        font-size: var(--font-size-l);
        width: 100vw;
        padding-top:100px;
        height: 100vh;
        top: 0;
        left: 1000px;
        flex-direction: column;
        backdrop-filter: blur(2px);
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.3s;
        background: var(--header-menu-colorBg);
        overflow-y: scroll;
    }
    .Mobile{
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-size: 32px;
        color: var(--third-color);


        .DropdownContent{
            position: relative;
            padding: 32px 0 0 0;
            width: 100%;
            background: none;
            border: none;
            row-gap: 20px;
            top: 0;
            left: 0;
            display: none;

        }
        .DropdownLink {
            color: var(--third-color);
            padding: 0;
            position: relative;
            font-family: Montserrat;
            font-size: 16px;
            height: 68px;
            gap: 0px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            cursor: pointer;
            transition: color 0.3s;
            width: 100%;
            height: 20px;
            p{
                width: 100%;
            }
            svg{
                display: none;
            }
        
        }
        .OpenM{
            display: flex;
            transition: all 0.3s;
        }
        .lines::after{
            display: none;
        }
        .lines::before{
            display: none;
        }
    }
    .collapsed {
        position: fixed;
        font-size: var(--font-size-l);
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        border-radius: 0px;
        backdrop-filter: blur(2px);
        justify-content: flex-start;

        align-items: flex-start;
        background: var(--header-menu-colorBg);
    }
}